<web-app>
<servlet>
<servlet-name>s1</servlet-name>	
<servlet-class>my.UserController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>s1</servlet-name>
<url-pattern>/UserController</url-pattern>
</servlet-mapping>

<context-param>
<param-name>superfast</param-name>
<param-value>4</param-value>
</context-param>

<context-param>
<param-name>express</param-name>
<param-value>3</param-value>
</context-param>

<context-param>
<param-name>first_ac</param-name>
<param-value>50</param-value>
</context-param>

<context-param>
<param-name>second_ac</param-name>
<param-value>40</param-value>
</context-param>

<context-param>
<param-name>third_ac</param-name>
<param-value>30</param-value>
</context-param>

<context-param>
<param-name>sleeper</param-name>
<param-value>10</param-value>
</context-param>
</web-app>